/*fontes*/


.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.fonteteste{
    font-family: monospace;
    font-weight: 400px;
    font-style: normal;
}
/*fim fontes*/

/*Começo Barra scroll*/

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(255, 255, 255, 10%);
}

/* Track */
::-webkit-scrollbar-track {

    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 35%); 
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 45%); 
}

/*fim barra scroll*/



body{
    

    background-image: url("../imgs/teste400px.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    margin:35px;
    /*background-image: linear-gradient(rgb(255, 255, 255) 50%,rgb(166, 157, 255) 100%) ;*/
    color:white;
    margin-left: auto;
    margin-right:auto;

}

h1{
    text-align: center;
    
    position: static;
    letter-spacing: 2.5px;
    color:white;
    /*text-shadow: 0 0 20px purple;*/
    
}



#logo_on_page{
    scale:75%;
    display:block;
    margin-inline: auto;
    position:relative;
}

/*resultados*/

.p{
    display:flex;
    flex-direction: row;
    text-align: center;
    color:black;
    width:max-content;
    
   
  

}

#ultimo{
    margin-bottom: 0px;
}


.p_resultados{
    background-color: rgb(255, 255, 255);
    width:100%;
    height:max-content;
    box-sizing:border-box;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 5px;
    padding-bottom:5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
    margin-top:0;
    color:black;
    
   
}
.container{
    border: 2px solid rgb(20, 20, 20);
    border-radius: 12px;
    height:fit-content;
    width: max-content;
    padding:10px;
    background-color: rgb(20, 20, 20);
    text-align: center;
    margin-bottom: 7%;
    margin-inline: auto;
    box-shadow: 0px 0px 7px black;
}

.legenda{
    color:rgb(174, 0, 243);
    display: flex;
    flex-direction: column;
    
}

#bttn_voltar{
background-color:white;
border: 1px solid white;
box-sizing:border-box;
padding:10px;
height:min-content;
width: min-content;
scale:150%;
border-radius: 20px;

}

#bk_buttn{
    height:48px;
    width:98px;
    border: 2px solid white;
    border-radius: 42px;
    transition: scale .2s ease-in; 
    margin-left:auto;

    
    }
    
    #bk_buttn:hover{
        scale:103%;
    }

    

@media (max-width:430) and (min-height:792px){
    body{
        background-image: url("/imgs/teste400px.png");
    }
  }